<div class="col-12 d-flex justify-content-between align-items-center">
  <h2>{{ "Organigramme"|t }}</h2>
</div>

{{ content|raw }}
<section class="c-organigramme">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 line-2">
        <div class="d-flex justify-content-center">
          <div class="card bg-info" style="background-color: #f8fbff !important;">
            <div class="card-body">
              <div class="h2">Directrice Générale</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row line-1 line-5">
          <div class="col-md-3 line-03 line-04 lig-0">
            <div class="card mb-3 bg-white">
              <div class="card-body">
                <div class="h4">Département Communication et Marketing Public</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 line-03 line-04">
            <div class="card mb-3 bg-white">
              <div class="card-body">
                <div class="h4">Département Qualité et Contrôle de Gestion</div>
              </div>
            </div>

          </div>
          <div class="col-md-3 line-03 line-04 lig-3">
            <div class="card mb-3 bg-white">
              <div class="card-body">
                <div class="h4">Département Audit</div>
              </div>
            </div>

          </div>
          <div class="col-md-3 line-03 line-04  lig-1">
            <div class="card mb-3 bg-white" style="background-color: #e2e2e2 !important;">
              <div class="card-body">
                <div class="h4">Missions Aménagements Provisoires</div>
              </div>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col-md-9 pp">
            <div class="row justify-content-end align-items-end">
              <div class="col-md-5 mb-28">
                <div class="card bg-white mx-4">
                  <div class="card-body">
                    <div class="h3 mb-0">Directeur Général Adjoint</div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row line-1 line-5">
              <div class="col-md-6 line-3 line-4">
                <div class="bloc-organi">
                  <div class="h3">Directions support</div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction des Affaires Financières</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction des Affaires Administratives et Générales</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6 line-3 line-4 right">
                <div class="bloc-organi">
                  <div class="h3">Directions techniques</div>

                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction des Affaires Techniques</div>
                    </div>
                  </div>

                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction de la Planification et de la Coordination Territoriale</div>
                    </div>
                  </div>

                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction de la Gestion du Patrimoine et du Développement Durable</div>
                    </div>
                  </div>

                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction des Infrastructures Sportives</div>
                    </div>
                  </div>


                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction des Grands Projets</div>
                    </div>
                  </div>

                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="h4">Direction des Programmes Sociaux</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-12 line-1">
            <div class="bloc-organi">
              <div class="h3">Entités territoriales</div>
              <div class="row">
                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Tanger-Tétouan-Al Hoceima</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Rabat-Salé-Kénitra</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Centre-Ouest</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Centre-Est</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>

                <!--

                        <div class="col-md-2">
                          <div class="card mb-3 bg-info">
                            <div class="card-body">
                              <div class="card-title">Direction Régionale Oriental</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division Marchés et AG</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division Suivi des travaux</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="card mb-3 bg-info">
                            <div class="card-body">
                              <div class="card-title">Direction Régionale Marrakech-Safi</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division marchés et AG</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division Suivi des travaux</div>
                            </div>
                          </div>
                        </div>


                <div class="col-md-2">
                          <div class="card mb-3 bg-info">
                            <div class="card-body">
                              <div class="card-title">Direction Régionale Sud</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division marchés et AG</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division Suivi des travaux</div>
                            </div>
                          </div>
                        </div>

                  <div class="col-md-2">
                          <div class="card mb-3 bg-info">
                            <div class="card-body">
                              <div class="card-title">Direction Régionale Laâyoune-Oued Eddahab</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division marchés et AG</div>
                            </div>
                          </div>
                          <div class="card mb-3 bg-white">
                            <div class="card-body">
                              <div class="card-title">Division Suivi des travaux</div>
                            </div>
                          </div>
                        </div>
                -->
              </div>

              <div class="row">


                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Oriental</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Marrakech-Safi</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>


                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Sud</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card mb-3 bg-info">
                    <div class="card-body">
                      <div class="card-title">Direction Régionale Laâyoune-Oued Eddahab</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division marchés et AG</div>
                    </div>
                  </div>
                  <div class="card mb-3 bg-white">
                    <div class="card-body">
                      <div class="card-title">Division Suivi des travaux</div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
