

.ch-anep .service-block {
    height: 350px;
}
.service-block:hover {
    background: #2C75A6;
    color: #fff;
  }
.ch-anep .owl-item {
    padding-left: 15px;
    padding-right: 15px;
}
.ch_bg {
    background-color: #f4f5f9;

}
.p-4 {
    padding: 45px 0;
}
.flx-dir {flex-direction: row-reverse;}

.node-detail .fa,.node-detail  .fas {
  font-size: 40px;
}
.fa, .fas {
  font-weight: 900;
  color: #11649a;
}
.node-detail ul {
  margin: 0;
  padding-left: 0px;
}
.node-detail  ul li.anep-li {
  list-style: none;
}
.anep-chiffre {
  background: #F5F5F5;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.anep-chiffre .milestone-block {
  margin-bottom: 30px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.anep-chiffre.milestone-block {
  max-width: 90%;
  height: 210px;
}
.fs-80 {
  font-size: 80px;
    line-height: 80px;
    color: #11649a;
    font-weight: normal;
    font-family: "Cairo", sans-serif;
}
.socials-footer {
  display: none;
}
.gav-help-region {
  display: none !important;
}
.path-taxonomy .feed-icon {
  display: none !important;
}
/* --------------- RTL ---------------------*/
[dir="rtl"] h1,[dir="rtl"]  h2,[dir="rtl"]  h3,[dir="rtl"]  h4,[dir="rtl"]  h5,[dir="rtl"]  h6,[dir="rtl"] .h1,[dir="rtl"]  .h2,[dir="rtl"]  .h3,[dir="rtl"]  .h4,[dir="rtl"]  .h5,[dir="rtl"]  .h6 {
  margin-bottom: 0.5rem;
  font-family: "caro", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #222429;
}
[dir="rtl"] .navigation .gva_menu > li > a {
  letter-spacing: 0 !important;
}
[dir="rtl"] .gsc-icon-box-number.style-1:hover .box-title a [dir="rtl"] , .gsc-icon-box-number.style-1:hover .box-title a{
  letter-spacing: 0 !important;
}
[dir="rtl"] .gsc-icon-box-number.style-1 .box-title {
  letter-spacing: 0 !important;
  font-size: 24px;
}
[dir="rtl"] .navigation .gva_menu > li:hover > a,[dir="rtl"]  .navigation .gva_menu > li:focus > a,[dir="rtl"]  .navigation .gva_menu > li:active > a,[dir="rtl"]  .navigation .gva_menu > li.menu-item--active-trail > a {
  letter-spacing: 0 !important;
}
[dir="rtl"] li , [dir="rtl"] ul ,[dir="rtl"] p ,[dir="rtl"] p , [dir="rtl"] span , [dir="rtl"] table   {
  letter-spacing: 0 !important;
  text-align: right !important;
}
[dir="rtl"] .navigation .gva_menu li a {
  text-align: right !important;
}
[dir="rtl"] .breadcrumb-content-inner .gva-block-breadcrumb .breadcrumb-links nav.breadcrumb ol li {
  float: right;
}
[dir="rtl"] .dropbutton-arrow {
  right: auto;
  left: 5em;
}
[dir="rtl"] .post-block.teaser-2 .post-content .post-title {
  margin-bottom: 0;
  font-size: 21px;
  line-height: 25px;
}
[dir="rtl"] .gsc-heading.style-1 .title {
  font-size: 50px;
  line-height: 60px;
  position: relative;
  text-transform: uppercase;
}
[dir="rtl"] body {
text-align: right;
}
[dir="rtl"] .scroll-to-top {
  right:unset !important;
  left: 40px;
}
[dir="rtl"] header.header-1 .header-main-inner .header-inner {
  padding-right: 210px;
  padding-left: 70px;
}
[dir="rtl"] header.header-1 .header-main-inner .branding {
  width: 240px;
  float: right;
  max-height: 95px;
}
[dir="rtl"] .topbar-information ul li i.fa-phone-alt {
  float: right;
}
[dir="rtl"] .topbar-information ul li.phone {
  direction: initial;
}
[dir="rtl"]  .cnt-ttl {
  height: 35px;
}
[dir="rtl"]  .cnt-tel {
  float: right;
}
[dir="rtl"]  .flt {
  float: right;
    direction: initial;
}
@media (min-width: 992px) {
  .navigation .gva_menu > li > a {
      font-size: 13px !important;
      font-weight: 600;
  }
  header.header-default .navigation .gva_menu > li, header.header-2 .navigation .gva_menu > li {
    padding: 36px 10px !important;
  }

  [dir="rtl"] .navigation .gva_menu .sub-menu {
    right: 0;
    left:unset;
  }
}

#footer .socials-footer a {
  color: #fff !important;
}
#footer ul.menu > li > a {
  font-size: 16px;
}
#footer ul.menu > li {
  padding: 1px 0;
}
#footer {font-size: 16px;}
.copyright-inner h3 {
  color: #fff;
  font-size: 20px;
}
.f-socials, .f-cp {
  display: inline-block;
}

.f-cp {
  float: right;
}
.dirc-ini {
  direction:initial;
}
@media (max-width: 767px) {
  .f-socials {
    text-align: center;
  }
}

.c-map {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.c-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.c-tab {
  cursor: pointer;
}
.c-tab:hover {
  text-decoration: underline;
}
#containerXXX h4 {
  font-size: 15px;
}

.ch-anep .service-icon > img {
  max-height: 67px;
}
.count-interne img {
  max-height: 67px;
}

#Orgcontainer h4 {
  font-size: 20px;
  color:#fff;
  line-height: 1;
}
