

.ch-anep .service-block {
    height: 350px;
}
.service-block:hover {
    background: #222429;
  }
.ch-anep .owl-item {
    padding-left: 15px;
    padding-right: 15px;
}
.ch_bg {
    background-color: #f4f5f9;

}
.p-4 {
    padding: 45px 0;
}
.flx-dir {flex-direction: row-reverse;}



/* --------------- RTL ---------------------*/ 
[dir="rtl"] .navigation .gva_menu > li > a {
  letter-spacing: unset !important;
}
[dir="rtl"] .navigation .gva_menu > li:hover > a,[dir="rtl"]  .navigation .gva_menu > li:focus > a,[dir="rtl"]  .navigation .gva_menu > li:active > a,[dir="rtl"]  .navigation .gva_menu > li.menu-item--active-trail > a {
  letter-spacing: unset !important;
}



@media (min-width: 992px) {
    .navigation .gva_menu > li > a {
        font-size: 17px !important;
    }
    header.header-default .navigation .gva_menu > li, header.header-2 .navigation .gva_menu > li {
      padding: 36px 10px !important;
    }
  }

#footer .socials-footer a {
  color: #999b9f !important;
}

.copyright-inner h3 {
  color: #999b9f;
}
.f-socials, .f-cp {
  display: inline-block;
}

.f-cp {
  float: right;
}
@media (max-width: 767px) {
  .f-socials {
    text-align: center;
  }
}

.c-map {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.c-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
