<div class="gbb-row-wrapper section row-first-level gbb-row bg-size-cover" style="">
    <div class="bb-inner default">
       <div class="bb-container container">
          <div class="row row-wrapper">
             <div class="gsc-column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="column-inner bg-size-cover">
                   <div class="column-content-inner">
                      <div class="widget gsc-heading  align-center style-1 ">
                         <div class="heading-content clearfix">
                            <h2 class="title text-black">
                               <span>Latest news &amp; articles</span>
                            </h2>
                         </div>
                      </div>
                      <div class="clearfix"></div>
                      <div>
                         <div class="widget block clearfix gsc-block-view  gsc-block-drupal block-view title-align-left  text-dark remove-margin-off">
                            <div class="views-element-container contextual-region">
                               <div class="post-style-grid post-slideset contextual-region gva-view ">
                                  {{ page.actualites }}
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="gbb-row-wrapper section row-first-level gbb-row bg-size-cover" style="">
    <div class="bb-inner default">
       <div class="bb-container full-container">
          <div class="row row-wrapper">
             <div class="gsc-column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="column-inner bg-size-cover">
                   <div class="column-content-inner">
                      <div class="widget gsc-heading  align-center style-1 ">
                         <div class="heading-content clearfix">
                            <h2 class="title text-black">
                               <span>Latest news &amp; articles</span>
                            </h2>
                         </div>
                      </div>
                      <div class="clearfix"></div>
                      <div>
                         <div class="widget block clearfix gsc-block-view  gsc-block-drupal block-view title-align-left  text-dark remove-margin-off">
                            <div class="views-element-container contextual-region">
                               <div class="post-style-grid post-slideset contextual-region gva-view>
                                  {{ page.projet }}
                                  
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    